# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/*
bin/*
Cache
# build/x64/
# build/Simulator/SPHSimulator.dir/
# build/Simulator/SimulatorBase.dir/
# *.slo
# *.lo
# *.o
# *.obj
# *.pdb
# *.tlog
# *.recipe
# *.log
# *.ilk
# .vs/
# build/extern/CompactNSearch/
# build/extern/Discregrid/
# build/extern/GenericParameters/
# build/extern/PositionBasedDynamics/
# bin/